/* 웰컴체 */
@font-face {
    font-family: 'OTWelcomeRA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
body {
    margin: 0%;
}
/*로그인 바*/
.LoginBar {
    background-color: #448aff;      /* 색깔 */
    width:100%;                       /* 가로 */
    height: 12rem;                    /* 세로 */
    margin: 0 auto;                   /* margin 0 = 여백없이, auto = 가로 중앙 배치 + 좌우 여백 균등 배분  */
    position:relative;                /* relative = 태그 위치 변경 가능 */
    text-align: center;               /* 텍스트 중앙 배치 */
}
h1 {
    color: #fff;                    /* 폰트 색상 설정 */
    font-size:3rem;                   /* 폰트 크기 설정 */
    text-shadow: 2px 3px 0 #000;    /* x축 y축 blur값 색상값 */
    padding-top: 4rem;                /* 텍스트 위치 변경 */
}
/*로그인 바*/

/*로그인*/
.member {
    text-align: center;
  }
ul {                                  /* 모든 ul 요소에 적용할 스타일 */
    list-style:none;                  /* 불릿 없애기 */
    padding-left:0;                   /* 왼쪽 패딩 */ 
  }
li {                                  /* 모든 li 요소에 적용할 스타일 */
    margin:1rem;                      /* 마진 */
  } 
#loging li label {                    /* 요소의 하위 li label 요소에 적용할 스타일 */
    width:5rem;                       /* 라벨 너비 */
    float:left;                       /* 좌우로 배치 */
    text-align:left;                  /* 텍스트  정렬 */    
 }
.login {
    font-size : 1rem;                 /* 폰트 크기 */    
    line-height: 1rem;                /* 라인 간격 */
    padding : 2rem;                   /* 패딩 간격 */
    margin: 10rem auto 0 auto;        /* margin 10 = 여백, auto = 가로 중앙 배치 + 좌우 여백 균등 배분  */
    width: fit-content;               /* 내용에 맞게 가로 설정 */
}
input[type="submit"], input[type="button"] {   /* 두 type 의 input 요소에 적용할 스타일 */
    text-align:center;                         /*텍스트 중앙 정렬 */
    width:6rem;                                /* 너비 */
    height:2rem;                               /* 높이 */    

    margin-top: 1rem;
    border: #448AFF 1px solid;
    border-radius: 2%;
    background-color: transparent;
}

input[type="submit"]:hover{ color:white; background-color: #448AFF; }

textarea:focus,input:focus {outline:none;}




/*로그인*/

input[type="submit"]:hover{ color:white; background-color: #448AFF; }
input[type="button"]:hover{ color:white; background-color: #448AFF; }

textarea:focus,input:focus {outline:none;}


input[type="button"] {
    margin-top: 8rem;                         /* 회원가입 위치 설정 */
}
