/*폰트 설정 div*/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
div {
    font-family: 'Nanum Gothic', sans-serif;
}

/* 네브바 */
.nav{
    background-color: white;
    height: 50px;
    top: 0px;
    display: grid;
    grid-template-columns: 6fr 4fr;
    position: fixed;
    z-index: 99999;
}

.menu{
    display: inline;
    text-align: right;
    margin-top: 2%;
    text-align: center;
    
}
.menu_a{
    text-decoration-line: none;
    margin: 0% 1%;
    height: 100%;
    color: black;
   
}
.notice{
    width: 3%;

} 
.nav p{
    margin-top: 0px;
    margin-left: 3%;
    padding-top: 0px;
    display: inline;
    font-weight: bold;
    font-size: 1.8rem;
}
/* 네브바 */

/* 메인 */
#contents {
    background-color: #448aff;      /* 색깔 */
    width:100%;                       /* 가로 */
    height: 300px;                    /* 세로 */
    margin: 0 auto;                   /* margin 0 = 여백없이, auto = 가로 중앙 배치 + 좌우 여백 균등 배분  */
    position:relative;                /* relative = 태그 위치 변경 가능 */
}

h1 {
    color: #fff;
    font-size:50px;
    text-shadow: 2px 3px 0 #000;    /* x축 y축 blur값 색상값 */
    margin: 0 auto;                   /* margin 0 = 여백없이, auto = 가로 중앙 배치 + 좌우 여백 균등 배분  */
    position:relative;                /* relative = 태그 위치 변경 가능 */
    text-align: center;
    padding-top: 7rem;
}

.list1{
    padding : 10px;                   /* 공백 영역 생성 */
    border:2px solid #488aff;       /* solid = 테두리 실선 생성 */
    border-radius:30px;               /* radius = 꼭지점 둥글게 */
    height: 400px;
    width: 600px;
}

.list2{
    padding : 10px;
    border:2px solid #488aff;
    border-radius:30px;
    height: 400px;
    width: 600px;
}

.lists{
    display: grid;                                 /* 그리드 선언, Grid 전체 영역 */
    grid-template-columns: 1000px 1000px ;         /* 열의 크기 정의 */
    margin: 110px 140px;                           /* 상하 110 좌우 140 여백 생성 */
    line-height: 2;                                /* 글자 상하 간격 설정 */
    text-decoration: underline #488aff 3px;      /* 밑줄 선언*/
    font-size:25px;
}

/* 메인 */